<div class="mdl-textfield mdl-js-textfield my-suggestions-textfield">
  {{c-mdl-input value=(mut liveQuery) action='searchSelected' didFocusOut='didFocusOut' class='my-suggestions-input'}}

  <label class="mdl-textfield__label"></label>
</div>

{{#if showAutoComplete}}
  <div class="my-autocomplete mdl-shadow--2dp">
    {{#each suggestions as |suggestion|}}
      {{#c-mdl action='searchSuggestion' param=suggestion class='mdl-button mdl-js-button mdl-js-ripple-effect my-suggestion' classNameBindings='suggestion.isSelected:active'}}
        {{suggestion.value}}
      {{/c-mdl}}
    {{/each}}
  </div>
{{/if}}