{{#c-fixed tagName='nav' class='my-input-bar' }}
    {{c-autocomplete search='search' value=value suggestions=suggestions}}
{{/c-fixed}}

{{#c-tabs class='z-depth-1 my-tabs-darken'}}
    <li class="tab col s6">
        {{#link-to 'search.tracks' class='active' replace=true}}
            Tracks
        {{/link-to}}
    </li>

    <li class="tab col s6">
        {{#link-to 'search.playlists' replace=true}}
            Playlists
        {{/link-to}}
    </li>
{{/c-tabs}}

{{#if hasQuery}}
  {{outlet}}
{{/if}}
