/* TODO: remove unused css */


/* TODO: make sure all @extend classes are defined BEFORE they are extended. This will affect css order */


/* TODO: prefix everything with my- / audio-? */

$menu-height-phone: 56px;
$menu-height: 64px;
$audio-height: 45px;
$vert-width: 35px;
$menu-cell-width: 14.28571428571429%;
$audio-top: 2px;

/* TODO: maybe, if I put every bar inside the main tag, I do not need to set margin-left? */

@mixin menu-height {
    @media screen and (max-width: 1024px) {
        height: $menu-height-phone;
    }
    @media screen and (min-width: 1024px) {
        height: $menu-height;
    }
}

.bar {
    position: fixed;
    @media screen and (min-width: 1024px) {
        margin-left: 240px;
        width: calc(100% - 240px);
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    /* TODO: z-index needed? */
    /* z-index: 3; */
}

.message-bar {
    @extend .bar;
    bottom: $audio-height + 5px;
}

.toast-message {
    border-radius: 200px;
    padding: 10px 13px 10px 13px;
    background-color: #323232;
    color: #FFFFFF;
}

.action-bar {
    @extend .bar;
    z-index: 3;
    top: 0;
    font-size: 22px;
    background-color: #cccccc;
    @media screen and (max-width: 1024px) {
        width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
    @media screen and (min-width: 1024px) {
        width: calc(100% - 320px);
        padding-left: 40px;
        padding-right: 40px;
    }
}

.action-cancel {
    float: right;
}

.loading-bar {
    @extend .bar;
    height: 4px;
    margin: 0;
}

.inner-image {
    width: 100%;
    position: absolute;
}

.outer-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #e1e1e1;
}

.audio-stamp {
    height: $audio-height + $audio-top;
}

.my-audio-slider-bar {
    @extend .bar;
    z-index: 1;
    bottom: $audio-height - 8px;
}

.my-audio-slider {
    width: 100%;
    margin: 0;
}

.mdl-slider__background-flex {
    @extend .my-audio-slider;
}

.audio-bar {
    @extend .bar;
    bottom: 0;
    height: $audio-height;
    background: white;
    padding-top: $audio-top;
}

.my-audio-cell {
    margin-top: 0;
    margin-bottom: 0;
}

.my-audio-box {
    display: table-cell;
    vertical-align: middle;
    height: $audio-height;
}

.my-audio-name {
    @extend .my-audio-box;
    font-size: 18px;
    white-space: nowrap;
}

.my-audio-text {
    @extend .my-audio-cell;
    overflow: hidden;
    position: relative;
}

.my-paragraph-end {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 25px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.my-audio-paragraph-end {
    @extend .my-paragraph-end;
    height: $audio-height;
}

.audio-timer {
    padding-top: 8px;
    font-size: 12px;
}

.highlight {
    color: #ef6c00;
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: inherit;
        &::-webkit-file-upload-button {
            display: none;
        }
    }
}

.list-group-separator.track-separator {
    margin: 0;
}

.text-large {
    font-size: 52px;
}

.list-group-item.track-item {
    padding: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-bar {
    @extend .bar;
    margin: 0 0 10px 0;
    padding: 0;
    top: 0;
    .btn.btn-default {
        &,
        &:hover {
            background-color: #eeeeee;
        }
    }
}

.menu-placeholder {
    @include menu-height;
}

.grid-label {
    margin: 3px 2px 3px 2px;
}

.spaced-top {
    margin-top: 10px;
}

.btn-inline {
    padding: 4px 15px 4px 15px;
}

.outer-label {
    @include menu-height;
    padding: 0;
}

.inner-label {
    margin-top: 11px;
}

.menu-text {
    font-size: 15px;
    color: white;
}

.outer-btn-group {
    padding: 0;
}

.inner-btn-group {
    margin: 0;
    @include menu-height;
}

.text-active {
    color: #ff9800;
}

.action-top {
    background-color: #eeeeee;
}

.action-badge {
    background-color: white;
    color: #ffab00;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.undercover {
    visibility: hidden;
}

// Fix for fixed heading title
@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
        padding-left: 55px;
    }
}

.my-header-bar {
    padding-left: 0;
}

.mdl-layout--fixed-drawer:not(.is-small-screen) > .my-header-bar {
    margin-left: 240px;
}

.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.my-autocomplete {
    position: absolute;
    width: 100%;
    z-index: 4;
    left: 0;
    @media screen and (max-width: 1024px) {
        top: $menu-height-phone + 2px;
    }
    @media screen and (min-width: 1024px) {
        top: $menu-height + 2px;
    }
    .suggestion {
        width: inherit;
        text-align: inherit;
        text-transform: inherit;
        bottom: inherit;
        background: white;
        position: static;
        &.active,
        &:hover {
            background: #b3d4fc;
        }
    }
}

.my-suggestions-header {
    position: relative;
}

.my-suggestions-textfield {
    position: initial;
}

// Fix for fixed heading bar
.mdl-layout__header-row > * {
    webkit-flex-shrink: initial;
    flex-shrink: initial;
}

.my-card-cell {
    max-width: 250px;
    min-width: 160px;
    margin: 0;
    &.mdl-cell {
        @media (max-width: 479px) {
            width: 50%;
        }
    }
}

.my-card {
    margin: 4px;
    min-height: initial;
    width: calc(100% - 8px);
}

.my-card-text {
    width: calc(100% - #{$vert-width});
    height: 39px;
    position: relative;
    padding: 0;
}

.my-card-vert {
    width: $vert-width;
}

.my-card-grid {
    padding: 16px;
    padding-right: 0;
    margin: 0;
}

.my-card-actions {
    position: absolute;
    bottom: 0;
}

.my-card-actions-placeholder {
    width: 45px;
}

.my-track-part {
    display: table-cell;
    padding-top: 8px;
    padding-bottom: 8px;
}

.my-track-body {
    @extend .my-track-part;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.my-track-middle {
    @extend .my-track-part;
    vertical-align: middle;
}

.my-static-image {
    width: 120px;
    height: 68px;
}

.my-track-line {
    width: calc(100% - 90px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}

.my-track-separator {
    width: 100%;
}

.my-vertical-status-bar {
    font-size: 18px;
}

.my-loading-bar {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.my-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}

.my-collection-grid {
    padding: 14px 4px;
}

@media screen and (min-width: 479px) {
    .my-panel {
        margin: 16px;
    }
}

.my-title-btn {
    text-transform: none;
}

.my-title-grid {
    padding: 16px 8px 0 8px;
}

.my-audio-grid {
    padding: 0;
}

.my-title-text {
    margin-top: 0;
}

.my-title-cell--10-col {
    @media (max-width: 479px) {
        width: 50%;
    }
    @media (max-width: 839px) and (min-width: 480px) {
        width: 75%;
    }
    @media (min-width: 840px) {
        width: 83.3333333333%;
    }
}

.my-title-cell--2-col {
    text-align: right;
    @media (max-width: 479px) {
        width: 50%;
    }
    @media (max-width: 839px) and (min-width: 480px) {
        width: 25%;
    }
    @media (min-width: 840px) {
        width: 16.6666666667%;
    }
}

.my-active {
    background-color: #cccccc;
}

.my-menu-grid {
    @include menu-height;
    padding: 0;
}

.my-menu-cell {
    width: $menu-cell-width;
}

.my-menu-cell-offset {
    width: 2 * $menu-cell-width;
}

.mdl-button .my-badge[data-badge]:after {
    top: -11px;
    right: -24px;
}

.my-icon-btn {
    @media screen and (max-width: 1024px) {
        height: $menu-height-phone;
        line-height: $menu-height-phone;
    }
    @media screen and (min-width: 1024px) {
        height: $menu-height;
        line-height: $menu-height;
    }
}

.my-menu-btn {
    @extend .my-icon-btn;
    // TODO: width: 100% makes it overlap with other btns. This looks nice but check if click might result in double actions..
    width: 100%;
    min-width: initial;
}

.my-text-right {
    text-align: right;
}

.my-text-left {
    text-align: left;
}

.my-edit-bar {
    z-index: 4;
    background-color: white;
}

.my-fixed-button {
    position: fixed;
    z-index: 1;
    right: 15px;
    bottom: $audio-height + 15px;
}
