/* TODO: remove unused css */

$audio-height: 50px;
$menu-height: 45px;
$card-size: 5 / 4;
$vert-width: 35px;
.bar {
    position: fixed;
    width: 100%;
    /* TODO: z-index needed? */
    z-index: 3;
}

.message-bar {
    @extend .bar;
    bottom: $audio-height + 5px;
}

.toast-message {
    border-radius: 200px;
    padding: 10px 13px 10px 13px;
    background-color: #323232;
    color: #FFFFFF;
}

.action-bar {
    @extend .bar;
    top: 0;
    height: $menu-height;
    font-size: 22px;
    padding-right: 15px;
}

.action-cancel {
    float: right;
}

.loading-bar {
    @extend .bar;
    height: 4px;
    margin: 0;
}

.inner-image {
    width: 100%;
    /* width: 120px * $card-size;
    height: 90px * $card-size;
    top: -11px * $card-size; */
    position: absolute;
}

.outer-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* width: 120px * $card-size;
    height: 68px * $card-size; */
}

.audio-stamp {
    height: $audio-height;
}

.audio-slider {
    @extend .bar;
    z-index: 4;
    bottom: $audio-height - 15px;
}

.audio-bar {
    @extend .bar;
    bottom: 0;
    height: $audio-height;
    background: white;
}

.audio-name,
.audio-icon {
    line-height: $audio-height;
}

.audio-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    white-space: nowrap;
}

.audio-icon {
    padding: 0;
    font-size: 24px;
}

.audio-icon-large {
    @extend .audio-icon;
    font-size: 34px;
}

.audio-timer {
    padding-top: 8px;
    font-size: 12px;
}

.highlight {
    color: #ef6c00;
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: inherit;
        &::-webkit-file-upload-button {
            display: none;
        }
    }
}

.list-group-separator.recording-separator {
    margin: 0;
}

.text-large {
    font-size: 52px;
}

.recording-part {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item.recording-item {
    padding: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-bar {
    @extend .bar;
    margin: 0 0 10px 0;
    padding: 0;
    top: 0;
    .btn.btn-default {
        &,
        &:hover {
            background-color: #eeeeee;
        }
    }
}

.menu-placeholder {
    height: $menu-height + 5px;
}

.grid-label {
    margin: 3px 2px 3px 2px;
}

.spaced-top {
    margin-top: 10px;
}

.btn-inline {
    padding: 4px 15px 4px 15px;
}

.outer-label {
    height: $menu-height;
    padding: 0;
}

.inner-label {
    margin-top: 11px;
}

.menu-text {
    font-size: 15px;
    color: white;
}

.outer-btn-group {
    padding: 0;
}

.inner-btn-group {
    margin: 0;
    height: $menu-height;
}

.audio-name-outer {
    padding-right: 0;
}

.text-active {
    color: #ff9800;
}

.action-top {
    background-color: #eeeeee;
}

.action-badge {
    background-color: white;
    color: #ffab00;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.undercover {
    visibility: hidden;
}

.status-icons {
    color: #ffb74d;
    font-size: 18px;
}

.status-icons.active {
    color: white;
}

// Fix for fixed heading title
@media screen and (max-width: 1024px) {
    .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
        padding-left: 55px;
    }
}

.autocomplete-header {
    padding-left: 0;
}

.mdl-layout--fixed-drawer:not(.is-small-screen) > .autocomplete-header {
    margin-left: 240px;
}

.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.autocomplete {
    position: absolute;
    z-index: 2;
    width: 100%;
    .suggestion {
        width: inherit;
        text-align: inherit;
        text-transform: inherit;
        bottom: inherit;
        background: white;
        &.active,
        &:hover {
            background: #b3d4fc;
        }
    }
}

// Fix for fixed heading bar
.mdl-layout__header-row > * {
    webkit-flex-shrink: initial;
    flex-shrink: initial;
}

.my-card-cell {
    max-width: 300px;
    min-width: 160px;
    margin: 0 auto;
}

.my-card {
    /* width: 120px * $card-size; */
    margin: 8px;
    min-height: initial;
    width: calc(100% - 16px);
}

.my-card-text {
    width: calc(100% - #{$vert-width});
    height: 39px;
    position: relative;
    padding: 0;
}

.my-card-vert {
    width: $vert-width;
}

.my-card-grid {
    padding: 16px;
    padding-right: 0;
    margin: 0;
}

.my-card-actions {
    position: absolute;
    bottom: 0;
}

.my-card-actions-placeholder {
    width: 45px;
}

.my-paragraph-end {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 25px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
