{{#c-element tap='play' class=(concat my-track-draggable (if model.isSelected 'my-active'))}}
    <div class="my-track-left">
        <div class="my-static-image">
            {{c-image src=thumbnail}}
        </div>
    </div>

    <div class="my-track-body">
        <div class="my-track-text">
            {{model.name}}
        </div>

        <div class="my-track-status">
            {{#if isPlaying}}
                <div class="my-track-icon">
                    <div class="eq">
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                    </div>
                </div>
            {{/if}}

            {{#if model.isDownloading}}
                {{c-spinner type='small'}}
            {{else if showDownloaded}}
                <div class="my-track-icon">
                    <i class="mdi mdi-download"></i>
                </div>
            {{/if}}
        </div>
    </div>
{{/c-element}}

{{!-- {{#link-to 'track.related' model class='my-track-transition'}}
    <i class="mdi mdi-chevron-right" />
{{/link-to}} --}}

<div class="my-separator">
    <div class="my-line" />
</div>
