{{#c-menu}}
    Playlists
{{/c-menu}}

{{#if isCreatedMode}}
    {{c-input-bar value=name placeholder='Create' done='save'}}
{{else}}
    {{#c-fixed-btn class='my-action-btn'}}
        <a href="javascript:void(0)" class="btn-floating btn-large waves-effect waves-light red my-model-btn" {{action 'setupCreate'}}>
            <i class="material-icons">add</i>
        </a>
    {{/c-fixed-btn}}
{{/if}}

{{c-playlists models=sortedPlaylists}}
