{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{#if lastHistoryTracks}}
        <h4>
            History
        </h4>

        {{c-tracks models=sortedLastHistoryTracks}}

        {{#link-to 'playlist' 'history' tagName='div' class='my-next' }}
            <i class="material-icons">chevron_right</i>
        {{/link-to}}
    {{/if}}

    {{#each relatedByTracks as |relatedByTrack|}}
        <h5 class="truncate" style="margin: 25px 0;">
            {{relatedByTrack.track.name}}
        </h5>

        {{c-tracks models=relatedByTrack.relatedTracks}}

        {{#link-to 'track' relatedByTrack.track tagName='div' class='my-next' }}
            <i class="material-icons">chevron_right</i>
        {{/link-to }}
    {{/each}}
</main>
