{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{#if isPending}}
      {{c-spinner class='my-spinner'}}
    {{else}}
      {{#if lastHistoryTracks}}
        {{c-tracks models=sortedLastHistoryTracks}}

        {{#link-to 'playlist' 'history' tagName='div' class='my-next' }}
            <i class="material-icons">chevron_right</i>
        {{/link-to}}
      {{/if}}

      {{#each relatedByTracks as |relatedByTrack|}}
        {{c-tracks models=relatedByTrack.relatedTracks}}

        {{#link-to 'track.related' relatedByTrack.track tagName='div' class='my-next' }}
            <i class="material-icons">chevron_right</i>
        {{/link-to }}
      {{/each}}
    {{/if}}
</main>
