{{#c-nav}}
  <div class="brand-logo truncate" style="width: calc(100% - 115px);">
    Recommended
  </div>
{{/c-nav}}

{{#if lastHistoryTracks}}
  <h4>
      History
  </h4>

  {{#each sortedLastHistoryTracks as |track|}}
      {{c-track model=track showQueued=track.isQueued}}

      <div class="my-separator">
          <div class="my-line" />
      </div>
  {{/each}}

  {{#link-to 'playlist' 'history' tagName='div' class='my-next'}}
    <i class="material-icons">chevron_right</i>
  {{/link-to}}
{{/if}}

{{#each relatedByTracks as |relatedByTrack|}}
  <h5 class="truncate" style="margin: 25px 0;">
      {{relatedByTrack.track.name}}
  </h5>

    {{#each relatedByTrack.relatedTracks as |track|}}
        {{c-track model=track showQueued=track.isQueued changeSelect='changeSelect'}}

        <div class="my-separator">
            <div class="my-line" />
        </div>
    {{/each}}

    {{#link-to 'track' relatedByTrack tagName='div' class='my-next'}}
        <i class="material-icons">chevron_right</i>
      {{/link-to }}
{{/each}}