{{#c-nav}}
  <div class="brand-logo truncate" style="width: calc(100% - 115px);">
    Recommended
  </div>
{{/c-nav}}

{{#if lastHistoryTracks}}
  <div class="mdl-grid my-grid-title">
    <h4>
        History
    </h4>
  </div>
  <div class="mdl-grid my-grid">
    {{#each sortedLastHistoryTracks as |track|}}
        {{c-track model=track showQueued=track.isQueued}}

        <div class="my-separator">
            <div class="my-line" />
        </div>
    {{/each}}

    {{#link-to 'collection.index' 'history'}}
      <i class="material-icons">
        expand_more
      </i>
    {{/link-to}}
  </div>
{{/if}}
{{#each relatedByTracks as |relatedByTrack|}}
  <div class="mdl-grid my-grid-title">
    <h5>
        {{relatedByTrack.track.name}}
    </h5>
  </div>

  <div class="mdl-grid my-grid">
      {{#each relatedByTrack.relatedTracks as |track|}}
          {{c-track model=track showQueued=track.isQueued changeSelect='changeSelect'}}
          <div class="my-separator">
              <div class="my-line" />
          </div>
      {{/each}}

      {{#link-to 'track.list' (query-params relatedVideoId=relatedByTrack.track.id)}}
        <i class="material-icons">
          expand_more
        </i>
      {{/link-to }}
  </div>
{{/each}}

{{!-- {{outlet}} --}}