<div class="my-menu-cell my-text-left">
    <span class="mdl-badge my-menu-btn" data-badge={{shownTotal}} />
</div>

{{yield}}

<div class="my-menu-cell my-icon-btn my-text-right">
    <div {{action 'deselect'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">close</i>
    </div>
</div>