<div class="mdl-cell my-menu-cell my-text-left">
    <span class="mdl-badge" data-badge={{shownTotal}} />
</div>

{{yield}}

<div class="mdl-cell my-menu-cell my-text-right">
  <div {{action 'deselect'}}>
    <div class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">
        close
      </i>
    </div>
  </div>
</div>