<div class="row">
    <div class="col-xs-2 text-left">
        <span class="mdl-badge" data-badge={{models.length}} />
    </div>

    {{yield}}

    <div class="col-xs-2 outer-label">
        <div {{action 'deselect'}} class="inner-label">
            <i class="material-icons">cancel</i>
        </div>
    </div>
</div>
