<!-- TODO: Show current user when implemented google login, http://www.getmdl.io/templates/dashboard/index.html -->

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
    Menu
  </span>

  <nav class="mdl-navigation">
    <a {{action 'transitionToRoute' 'collection.my'}}  class='mdl-navigation__link'>
      <i class="material-icons">
        library_music
      </i>

      My Collections
    </a>

    <a {{action 'transitionToRoute' 'settings'}}  class='mdl-navigation__link'>
      <i class="material-icons">
        settings
      </i>

      Settings
    </a>
  </nav>
</div>

{{yield}}