<div class="mdl-layout__header-row">
  <span class="mdl-layout-title">
    <!-- TODO: title probably bugged, fix: http://www.getmdl.io/templates/android-dot-com/index.html -->
    {{title}}
  </span>

  <div class="mdl-layout-spacer"></div>

  {{#link-to 'search' (query-params isSearchMode=true) class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
    <i class="material-icons">search</i>
  {{/link-to}}

  <button {{action 'selectAll'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon {{if hideSelectAll 'my-invisible'}}">
    <i class="material-icons">more_vert</i>
  </button>
</div>