<div class="my-row">
    <div class="col-xs-2" />

    <div class="col-xs-8">
        <div class="my-toast-message text-center">
            {{{message}}}
        </div>
    </div>

    <div class="col-xs-2" />
</div>


