{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{c-menu-bar title='My Collections' selectAll='selectAll'}}

  {{#if selectedCollections}}
      {{c-collections-bar collections=selectedCollections save='save' edit='edit' delete='delete'}}
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
    {{#if collections}}
      <div class="my-panel">
          <div class="mdl-grid my-title-grid">
              <div class="my-title-cell--10-col">
                  <h4 class="my-title-text">
                      My Collections
                  </h4>
              </div>
          </div>

          <div class="mdl-grid">
              {{#each sortedCollections as |collection|}}
                  {{c-collection model=collection action='transitionTo'}}

                  <div class="my-collection-separator">
                      <div class="my-collection-line" />
                  </div>
              {{/each}}
          </div>
      </div>
    {{/if}}
  </main>

  {{c-audio-player audioPlayer=audioPlayer transitionTo=transitionTo play=play pause=pause}}
{{/c-mdl-layout}}
