{{#link-to 'playlist' model tagName='div' class='card-image waves-effect waves-light'}}
    {{c-image src=model.thumbnail}}
{{/link-to}}

<div class="card-content my-playlist-content waves-effect" {{action 'changeSelect'}}>
    <div class="truncate">
      {{model.name}}
    </div>

    {{#if showSaved}}
        <i class="mdi mdi-tag-heart"></i>
    {{/if}}
</div>