{{#link-to 'playlist' model tagName='div' class='card-image'}}
    {{c-image src=model.thumbnail}}
{{/link-to}}

<div class="card-content my-playlist-content">
  <div class="row">
    <div class="truncate">
      {{model.name}}
    </div>

    <i class="material-icons" {{action 'changeSelect'}}>more_vert</i>
  </div>
</div>

{{#if (is-and showSaved model.isSaved)}}
  <div class="card-action">
      <i class="material-icons">save</i>
  </div>
{{/if}}
