{{#link-to 'playlist' model tagName='div' class='card-image waves-effect waves-light'}}
    {{c-image src=model.thumbnail}}
{{/link-to}}

<div class="card-content waves-effect" {{action 'changeSelect'}}>
  <div class="truncate">
    <!-- TODO: implement? -->
    <!-- {{#if model.isSaved}}
        <i class="mdi mdi-tag-heart"></i>
    {{/if}}
     -->
    {{model.name}}
  </div>
</div>