{{#link-to 'playlist' model tagName='div' class='card-image'}}
    {{c-image src=model.thumbnail}}
{{/link-to}}

<div class="card-content" {{action 'changeSelect'}}>
  <div class="truncate">
    {{model.name}}
  </div>
</div>

<!-- TODO: remove? -->
<!-- {{#if model.isSaved}}
  <div class="card-action my-card-action">
      <i class="material-icons">save</i>
  </div>
{{/if}}
 -->