{{#c-menu}}
    Settings
{{/c-menu}}

<main>
    <div class="container">
        <p>
            {{input type='checkbox' id="download-later" checked=fileSystem.downloadLater}}

            <label for="download-later">
                Download track when I have Wi-Fi
            </label>
        </p>

        <p>
            {{input type='checkbox' id="download-before" checked=fileSystem.downloadBeforePlaying}}

            <label for="download-before">
                Download track before playing
            </label>
        </p>
    </div>
</main>
