<label {{action 'clearInput'}} class="mdl-button mdl-js-button mdl-button--icon my-spaced-icon">
  <i class="material-icons">
    arrow_back
  </i>
</label>

{{#c-mdl class='mdl-textfield mdl-js-textfield'}}
  {{c-mdl-input value=(mut value) insert-newline='done'}}

  <label class="mdl-textfield__label"></label>
{{/c-mdl}}

<div class="mdl-layout-spacer"></div>

{{#if value}}
  {{#c-mdl tagName='button' action='done' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
    <i class="material-icons">
      done
    </i>
  {{/c-mdl}}
{{/if}}