<nav>
    <div class="nav-wrapper">
      <div class="my-back" {{action 'back'}} style="top: 0;">
        <i class="material-icons">arrow_back</i>
      </div>

      <ul class="right">
        <div class="brand-logo truncate">
          {{yield}}
        </div>

        <li>
          {{#link-to 'search.tracks' }}
            <i class="material-icons">search</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
</nav>