{{mdl-input value=(mut liveQuery) insert-newline='searchSelected' didFocusOut='hideSuggestions'}}

<label class="mdl-textfield__label"></label>

{{#if showAutoComplete}}
  <div class="autocomplete">
    {{#each suggestions as |suggestion|}}
      {{#my-mdl action='searchSuggestion' param=suggestion class='mdl-button mdl-js-button mdl-js-ripple-effect suggestion' classNameBindings='suggestion.isSelected:active'}}
        {{suggestion.value}}
      {{/my-mdl}}
    {{/each}}
  </div>
{{/if}}