{{#c-action-bar models=collections total=total}}
    <div class="mdl-cell my-menu-cell" />
    <div class="mdl-cell my-menu-cell" />

    <div class="mdl-cell my-menu-cell">
      {{#if isEditable}}
          {{#c-mdl action='edit' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              mode_edit
            </span>
          {{/c-mdl}}
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="mdl-cell my-menu-cell">
      {{#if isEverySaved}}
          {{#c-mdl action='delete' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              delete
            </span>
          {{/c-mdl}}
      {{else if isEveryUnsaved}}
          {{#c-mdl action='save' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              shop_two
            </span>
          {{/c-mdl}}
      {{else}}
         &nbsp;
      {{/if}}
    </div>
{{/c-action-bar}}

{{#if isEditMode}}
  {{c-input-bar query=editedCollectionName done='save'}}
{{/if}}